.main-container {
    background: url('/images/car_sale_transparent.png');

    background-position: center;
    background-size: cover;

    padding-top:16%;
    padding-bottom:16%;
}

body {
    height: 100%;
    font-family:Verdana;
}

html{
    height:100%;
}

.template-body{
    height:92%;
}

.mt-large{
    margin-top:10rem;
}

.btn-outline-dark{
    color:black;
}

.first-caption{
    font-size:xxx-large;
}

.home-btn{
    font-size:large;
}

footer{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}
