@model CarSalesMiniProject.Models.Vehicle

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="main-container container-fluid">
        <div class="row justify-content-center">
            <h1 class="col-6 text-center">
                Sell or buy your vehicle today.
            </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 text-center">
                <div class="btn btn-outline-dark">Browse vehicles </div>
            </div>
            <div class="col-3 text-center">
                <div class="btn btn-outline-dark">Sell your vehicle</div>
            </div>
        </div>
    </div>
</body>
</html>
