@model CarSalesMiniProject.Models.Vehicle

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container container-fluid">
	<div class="row justify-content-center fi">
		<div class="col-8 text-center first-caption">
			Sell or find your vehicle today.
		</div>
	</div>
	<div class="row mt-4 justify-content-center">
		<div class="col-3 text-center">
			<a class="btn btn-outline-dark home-btn" asp-controller="Vehicle" asp-action="Browse" asp-route-vehicleType="car">
				Browse cars
			</a>
		</div>
		<div class="col-3 text-center">
			<a class="btn btn-outline-dark home-btn" asp-controller="Vehicle" asp-action="CreateCar">
				Create a car
			</a>
		</div>
	</div>
</div>

